*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter" ;

}
.container{
    width:1000px;
    margin:0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.header{
    padding: 21.84px 0;
}
 .list-ul{
    display:flex;
    gap:60px;
    list-style-type:none;
}
.icons-ul{
    display:flex;
    list-style: none;
    gap:24px;
}
.collection-section{
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
.collection{
    width: calc((100% - 90px) / 4);
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    
}
h2{
    text-transform: uppercase;
    font-weight:600;
    font-size: 18px;

}
.menue{
    display: none;
}
@media  screen and (min-width:0) and (max-width:500px) {
   .list-ul{
    display:none;
   } 
   .icons-ul{
    display:none ;
   }
   .menue{
    display:flex;
   }
}@media  screen and (min-width:0) and (max-width:700px) {
.collection-section .row{
    flex-direction:column ;
}
.container{
    width:100%;
}
}







