*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter" ;

}
.container{
    width:1000px;
    margin:0 auto;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.header {
     padding: 21.84px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
}
 .list-ul{
    display:flex;
    gap:60px;
    list-style-type:none;
}
.icons-ul{
    display:flex;
    list-style: none;
    gap:24px;
    
}
body {
    margin-top: 80px; 
}
.icons a{
    cursor: pointer;
}
.collection-section{
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
.collection{
    width: calc((100% - 90px) / 4);
    text-align: center;
}
a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    
}
h2{
    text-transform: uppercase;
    font-weight:600;
    font-size: 18px;

}
.menue{
    display: none;
}
@media  screen and (min-width:0) and (max-width:500px) {
   .list-ul{
    display:none;
   } 
   .icons-ul{
    display:none ;
   }
   .menue{
    display:flex;
   }
}@media  screen and (min-width:0) and (max-width:700px) {
.collection-section .row{
    flex-direction:column ;
}
.container{
    width:100%;
}
}

.best-sellers h2{
font-family: " EB-Garamond";
font-weight: 700;
font-style: Bold;
font-size: 30px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}
.best-sellers h3{
font-family:"Inter" ;
font-weight: 600;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.06;
text-align: center;
text-transform: uppercase;
color:white;
text-shadow: 0px 0px 10px black;


}
.best-sellers .price{
   font-family: "Inter";
    font-weight: 600; 
    font-style: normal; 
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
}

.best-sellers .description{
   font-family: "Inter";
    font-weight: 400;      
    font-style: normal;   
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0;   
}
.best-sellers .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}
.best-sellers .item {
    text-align: left;
    padding:10px;
     box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}
.best-sellers .item-img {
    width: 220px;
    
    overflow: hidden; 
   
}
.best-sellers .item-img img {
    width: 100%;

    display: block;
     filter:  drop-shadow(0px 10px 4px rgb(190,190,190));
}
.best-sellers .item-content {
    margin-top: 16px;
}
.best-sellers .addtocard {
    width: 100%;
    height: 39px;
    padding: 0 18px; 
    border: 1px solid #000;
    cursor: pointer;
    margin-top: 8px;
    
}


@media screen and (max-width:600px) {
    .hero{
        height: 60vh;
        background-attachment: scroll;
    }
}

.item-content .details{
    height:100px;

}
.hero {
    background-image: url('./img/Slider.png');
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;    
}

.hero .hero-content {
   background-color: #826F66;
   height: 100%;
   width: 420px;
   text-align: center;
   padding: 30px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    position: absolute;
    top:0px;
    left:80px;
    
}
.hero .hero-content h3 {
    font-size: 16px;
}

.hero .hero-content p {
    font-size: 12px;
}
@media screen and (min-width: 0px) and (max-width: 600px) {
    .hero .hero-content {
        width: 90%;
        left: 50px;
        padding: 20px;
    }
     
}
@media screen and (min-width: 601px) and (max-width: 900px) {
    .hero .hero-content {
        width: 60%;
        left: 40px;
        padding: 25px;
    }
    .hero .hero-content h3 
    { 
        font-size: 18px;
     }
    .hero .hero-content p { 
        font-size: 13px;
     }
}
