
.header {
    padding: 21.84px 0;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 9;
}

body {
    margin-top: 80px; 
}


.collection-section{
    padding: 40px 0;
}


.collection{
    width: calc((100% - 90px) / 4);
}

.collection .collection-details{
    inset:0;
    background-color:rgba(35, 138, 255, 0.698);
    opacity:0;
    transition: .6s;
}


.collection:hover .collection-details{
    opacity: 1;
}


.collection-details h2{
    font-size: 20px;
}

.collection-details a{
    font-size: 20px;
}


h2::after{
    content: '';
    width:10%;
    height:3px;
    background-color: teal;
    display:block;
    position: absolute;
    left:45%;
    top: 100%;
}


.menue{
    display: none;
}


@media (max-width:500px) {
   .list-ul,
   .icons-ul{
        display:none;
   }
   .menue{
        display:flex;
   }
}

@media (max-width:700px) {
    .collection-section .row{
        flex-direction:column;
    }
    .container{
        width:100%;
    }
}


.best-sellers h2{
    font-family: "EB-Garamond";
    font-weight: 700;
    font-size: 30px;
}

.best-sellers h3{
    font-family:"Inter";
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color:white;
}

.best-sellers .price{
    font-weight: 600;
    font-size: 14px;
}

.best-sellers .description{
    font-weight: 400;
    font-size: 10px;
}

.best-sellers .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
}

.best-sellers .item {
    text-align: left;
    padding:10px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.best-sellers .item-img {
    width: 220px;
    overflow: hidden; 
}

.best-sellers .item-img img {
    width: 100%;
    display: block;
}

/* Hero */
.hero {
    background-image: url('./img/Slider.png');
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;    
}

.hero .hero-content {
    background-color: #826F66;
    height: 100%;
    width: 420px;
    text-align: center;
    padding: 30px;
    position: absolute;
    top:0;
    left:80px;
}


.badge-sale{
    position: absolute;
    top: 10px;
    left:10px;
    background-color:#ff0000;
    padding: 4px;
    z-index: 1;
}